:root {
    --btn-bg: #00ccffd8;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

body {
    padding: 35px;
}

a {
    padding-top: 10px;
    font-size: 1.25rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1.3rem;
    text-align: center;
}

label {
    font-size: 1.25rem;
    font-weight: bold;
    padding-right: 5px;
    margin-left: 35%;
}

input {
    border: solid black 2px;
    font-size: 1rem;
}

#timer {
    border: 2px solid black;
    font-weight: bold;
    flex-basis: 20%;
}

#span-time {
    color: red;
}

#start-btn {
  align-items: center;
  background-color: var(--btn-bg);
  font-size: 1.25rem;
  font-weight: bold;
  border: 2px solid black;
  margin-left: 48%;
  border-radius: 10em;
  padding: 10px;
}

#answers li {
    font-size: 1.5rem;
}

.ansBtns {
    display: block;
    margin: 10px;
    background-color: var(--btn-bg);
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 0.3em;
}

#submit {
    margin-left: 10px;
    background-color: var(--btn-bg);
    &:hover{
        background-color: white;
    }
}

button:hover {
    background-color: white;
}

.nextBtn {
    margin-left: 80%;
    background-color: var(--btn-bg);
}

#quiz-scores li {
    background-color: rgba(46, 33, 17, 0.171);
}
 
#quiz-scores {
    width: 10%;
    margin: 10px auto;
}

#restartQuiz {
    background-color: var(--btn-bg);

    &:hover{
        background-color: white;
    }
}